
    
.containers {
	width: 600px;
    margin: 24px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 12px 0;
}

.containers h1 {
	text-align: center;
	padding-top: 20px;
}

.containers form {
	padding: 0 40px;
}

form .form-controls {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 40px 0;
}

.form-controls.success {
	border-bottom-color: #ffb600;
}

.form-controls.error {
	border-bottom-color: #e74c3c;
}

.form-controls input {
	width: 100%;
	height: 40px;
	font-size: 18px;
	border: none;
	background: none;
	outline: none;
}

small {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 3px;
	color: #e74c3c;
}

.form-controls span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #ffb600;
	transition: 0.3s;
}

.form-controls input:focus ~ span::before {
	width: 100%;
}

.submit {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #ffb600;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
    text-align: center;
    line-height: 48px;
	transition: 0.5s;
}

.submit:hover {
	background-color: #cc8f00;
}

.signup_link {
	margin: 25px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}

.signup_link a {
	color: #ffb600;
	text-decoration: none;
}

.signup_link a:hover {
	text-decoration: underline;
}
